#root {
  position: absolute;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  margin-top: 36px;
  width: 60%;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 92%;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    width: 100%
  }
}